<head>
  <title>Tech Blog</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Tech Blog</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/post">Post</a></li>
                <li class="active"><a href="/post/displayAdd">Add Post</a></li>
                <% if(userdata.role=="Admin"){%>
                <li class="active"><a href="/allUsers">Admin</a></li>
                <%}%>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
              </ul>
            </div>
          </div>
      </nav>
      <hr/>
      <div class="row">
          <div class="col-md-12">
              <center>
                  <h2>Hi <%=userdata.name%></h2>
              </center>
              <hr/>
              <% for(i=0;i<postdata.length;i++){%>
                  <div class="row">
                      <div class="col-md-7">
                          <h2><%=postdata[i].title%> (<%=postdata[i].tags%>)</h2>
                          <h2><%=postdata[i].description%></h2>
                          <p>Content of post</p>
                          <p><%=postdata[i].createBy%></p>
                          <p>CreatedOn: <%=postdata[i].date%> | UpdatedOn: <%=postdata[i].lastupdatedate%></p>
                          
                          <!-- <p><%=postdata[i]._id%></p> -->

                          <form action="/comments/<%=postdata[i]._id%>" method="POST">
                            <textarea placeholder="Enter your comments" rows="4" cols="50" id="textarea" name="textarea"> </textarea> </br> </br>
                            <button type="submit" class="btn btn-primary">Add Comments</button>
                          </form>
                          
                          <form action="/commentsdata" method="GET">
                            <p></p>
                            <button type="submit" class="btn btn-success"> Get Comments</button>
                          </form>
                        
                      </div>
                      <div class="col-md-5">
                       <% if(postdata[i].createBy==userdata.name ||userdata.role=="Admin" ){%>
                        <a href="/post/edit/<%=postdata[i]._id%>">
                          <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="/post/deletePost/<%=postdata[i]._id%>">
                          <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        <%}%>
                      </div>
                  </div>
              <%}%>
          </div>
      </div>
  </div>
  <script>
      //jquery to activate user or deactivate
  </script>
</body>
</html>